<nav class="navbar">
  <button type="button" (click)="volverAlHome()" class="navbar-button">Volver al home</button>
  @if(listar){
    <button (click)="listarPuntajes()"class="navbar-button">Dejar de listar</button>
  }
  @else{
    <button (click)="listarPuntajes()"class="navbar-button">Listar puntajes</button>
  }
</nav>
<div class="container">
  @if(listar == true){
    <div class="puntajes-container">
      <h2>Puntajes del Mayor o Menor</h2>
      <table class="puntajes-tabla">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Puntaje</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let puntaje of puntajes">
            <td>{{ puntaje.usuario }}</td>
            <td>{{ puntaje.puntaje }}</td>
            <td>{{ puntaje.fecha }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  }
  <div class="juego">
    <h1>Juego: Mayor o Menor</h1>
    <div class="carta">
      <img *ngIf="cartaActual" [src]="cartaActual.imagen" alt="Carta actual" class="hero-image" />
    </div>
    <p>¿La siguiente carta es mayor o menor?</p>
    <div class="carta">
      <!-- Aquí puedes agregar la imagen de la siguiente carta si lo deseas -->
    </div>
    <div class="botones">
      <button (click)="adivinar('mayor')" class="button">Mayor</button>
      <button (click)="adivinar('menor')" class="button">Menor</button>
    </div>
    <div class="letras">
      <p>Cartas restantes: {{ cartasRestantes }}</p>
    </div>
    <div class="puntos">
      <p>Puntaje: {{ puntos }}</p>
    </div>
    <p class="resultado">{{ resultado }}</p>
    <button (click)="iniciarJuego()" *ngIf="resultado.includes('Fin del juego')" class="button">Reiniciar Juego</button>
  </div>
</div>

<footer>
  <p>© 2024 Tu Juego: Mayor o Menor</p>
</footer>
