:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.puntajes-container {
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 20px;
  border-radius: 10px;
  margin-top: 5px; 
  position: absolute;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.puntajes-tabla {
  width: 100%; 
  border-collapse: collapse; /* Elimina el espacio entre bordes */
}

.puntajes-tabla th,
.puntajes-tabla td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.puntajes-tabla th {
  background-color: rgba(255, 204, 0, 0.2); /* Fondo para encabezados */
  color: #ffcc00; 
}

.puntajes-tabla tr:hover {
  background-color: rgba(255, 204, 0, 0.1); /* Fondo al pasar el ratón */
}

.puntajes-tabla td {
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('https://firebasestorage.googleapis.com/v0/b/saladejuegos-ab2c4.appspot.com/o/istockphoto-1370682737-612x612.jpg?alt=media&token=bd718b42-50cc-486c-908e-5c61d697a1ea');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.navbar {
  width: 100%;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
}

.navbar-button {
  background: linear-gradient(135deg, #ff4081, #ff6f20);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  font-size: 1rem;
  margin: 0 10px;
}

.navbar-button:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #ff6f20, #ff4081);
}

.juego {
  padding: 20px;
}

h1 {
  font-size: 2rem;
  color: #ffcc00;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.carta img {
  width: 200px; 
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.botones {
  margin: 20px 0;
}

.button {
  background: linear-gradient(135deg, #ff4081, #ff6f20);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  margin: 0 5px;
}

.button:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #ff6f20, #ff4081);
}

.letras, .puntos {
  margin: 10px 0;
}

.resultado {
  font-size: 1.5rem;
  color: #ffcc00;
  margin-top: 20px;
}

footer {
  margin-top: 20px;
  font-size: 1.2rem;
}

footer p {
  margin: 5px 0;
}
