<nav class="navbar">
  <button type="button" (click)="volverAlHome()" class="navbar-button">Volver al home</button>
  @if(listar){
    <button (click)="listarPuntajes()"class="navbar-button">Dejar de listar</button>
  }
  @else{
    <button (click)="listarPuntajes()"class="navbar-button">Listar puntajes</button>
  }
</nav>
<div class="container">
  @if(listar == true){
    <div class="puntajes-container">
      <h2>Puntajes del Ahorcado</h2>
      <table class="puntajes-tabla">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Puntaje</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let puntaje of puntajes">
            <td>{{ puntaje.usuario }}</td>
            <td>{{ puntaje.puntaje }}</td>
            <td>{{ puntaje.fecha }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  }
  <div class="ahorcado">
    <h1>Juego del Ahorcado</h1>
    <img src="{{imagenActual}}" alt="Juego del Ahorcado" id="imagen" class="hero-image" />
    <p>Palabra: {{ mostrarPalabra }}</p>
    <p>Intentos incorrectos: {{ intentosIncorrectos }} de {{ maxIntentosIncorrectos }}</p>

    <div *ngIf="estaJuegoTerminado()">
      <p *ngIf="estaPalabraAdivinada()">¡Ganaste!</p>
      <p *ngIf="!estaPalabraAdivinada()">Perdiste. La palabra era: {{ palabraSeleccionada }}</p>
      <button class="navbar-button" (click)="iniciarNuevoJuego()">Reiniciar juego</button>
    </div>

    <div *ngIf="!estaJuegoTerminado()" class="botones-letras">
      <p>Selecciona una letra:</p>
      <div>
        <button *ngFor="let letra of alfabeto" 
                (click)="adivinarLetra(letra)" 
                [disabled]="letrasAdivinadas.includes(letra)" 
                class="letra-boton">
          {{ letra }}
        </button>
      </div>
    </div>
    
    <div class="letras">
      <p>Letras usadas: {{ letrasAdivinadas.join(', ') }}</p>
    </div>
    <div class="puntos">
      <p>Puntaje: {{ puntaje }}</p>
    </div>
  </div>
</div>

<footer>
  <p>© 2024 Tu Juego del Ahorcado</p>
</footer>
