:host {
  display: block;
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/saladejuegos-ab2c4.appspot.com/o/home%2FfondoHome.jpg?alt=media&token=81da93b8-1409-45ce-8f2d-8faed0c20d25');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.module.form-module {
  position: relative;
  max-width: 400px; /* Máximo ancho del formulario */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.form h2 {
  margin-top: 0;
}

.form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  background: linear-gradient(135deg, #ff4081, #ff6f20);
  transition: transform 0.3s ease, background 0.3s ease;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.form button:hover {
  transform: scale(1.1);
  background: linear-gradient(135deg, #ff6f20, #ff4081);
}

.toggle {
  cursor: pointer;
  font-size: 24px;
  color: #007bff;
  margin-bottom: 20px;
}

.error-message {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb; 
  color: #721c24; 
  border-radius: 4px; 
  padding: 12px; 
  margin: 12px 0; 
  font-size: 14px; 
  text-align: center; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  padding: 10px;
  text-align: center; /* Centra el contenido */
}

.navbar-button {
  background: linear-gradient(135deg, #ff4081, #ff6f20);
  color: #ffffff;
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  transition: transform 0.3s ease, background 0.3s ease;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0; /* Espacio superior e inferior */
  display: inline-block; /* Permite centrado en el navbar */
}

.navbar-button:hover {
  transform: scale(1.1);
  background: linear-gradient(135deg, #ff6f20, #ff4081);
}

/* Media Queries */
@media (max-width: 600px) {
  .module.form-module {
    width: 90%; /* Ajusta el ancho en móviles */
    margin-top: 50px; /* Reduce el margen superior */
  }

  .navbar-button {
    width: 100%; /* Ocupa el ancho completo en móviles */
  }
}
