<nav class="navbar">
  <button type="button" (click)="volverAlHome()" class="navbar-button">Volver al home</button>
  @if(listar){
    <button (click)="listarPuntajes()"class="navbar-button">Dejar de listar</button>
  }
  @else{
    <button (click)="listarPuntajes()"class="navbar-button">Listar puntajes</button>
  }
</nav>
<div class="container">
  @if(listar == true){
    <div class="puntajes-container">
      <h2>Puntajes del Mayor o Menor</h2>
      <table class="puntajes-tabla">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Puntaje</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let puntaje of puntajes">
            <td>{{ puntaje.usuario }}</td>
            <td>{{ puntaje.puntaje }}</td>
            <td>{{ puntaje.fecha }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  }
  <section>
    <canvas #canvas></canvas>
    <div class="arrow-buttons">
      <button (click)="mover('ArrowUp')" class="arrow-button">↑</button>
      <div>
        <button (click)="mover('ArrowLeft')" class="arrow-button">←</button>
        <button (click)="mover('ArrowDown')" class="arrow-button">↓</button>
        <button (click)="mover('ArrowRight')" class="arrow-button">→</button>
      </div>
    </div>
    
    @if(juegoTerminado == false){
      <span>Puntos: {{puntaje}}</span>
    }
  </section>
  @if(juegoTerminado == true){
    <h2>Perdiste! Puntos: {{puntaje}}</h2>
    <button class="navbar-button" (click)="reiniciar()">Reiniciar juego</button>
  }
</div>
  
