<div class="container">
    <h1>Juego de Preguntados</h1>
  
    <div *ngIf="personajeActual">
      <h2>Quien es este personaje?</h2>
      <img [src]="personajeActual.imagen" alt="Hero Image" class="hero-image" />
    </div>
  
    <div *ngIf="opciones && opciones.length > 1">
      <h3>Opciones:</h3>
      <ul>
        <li *ngFor="let opcion of opciones" (click)="seleccionarOpcion(opcion)">
          {{ opcion }}
        </li>
      </ul>
    </div>
      <button (click)="volverAlHome()">Volver al Inicio</button>
      <footer>
        @if(siguientePersonaje == null){
          <p>Personajes restantes: No quedan mas personajes</p>
          <button (click)="iniciarJuego()">Reiniciar juego</button>
      }
      @else{
        <p>Personajes restantes: {{ personajesRestantes }}</p>
      }
      <p>Puntos: {{ puntos }}</p>
    </footer>
  </div>
  
