<div class="container">
    <h1>Juego de Preguntados</h1>
  
    <div *ngIf="heroeActual">
      <h2>Quien es este heroe?</h2>
      <img [src]="heroeActual.imagen" alt="Hero Image" class="hero-image" />
    </div>
  
    <div *ngIf="opciones && opciones.length > 1">
      <h3>Opciones:</h3>
      <ul>
        <li *ngFor="let opcion of opciones" (click)="seleccionarOpcion(opcion)">
          {{ opcion }}
        </li>
      </ul>
    </div>
  
    <div *ngIf="resultado">
      <h3>{{ resultado }}</h3>
    </div>
      <button (click)="volverAlHome()">Volver al Inicio</button>
    <footer>
      <p>Héroes restantes: {{ heroesRestantes }}</p>
      <p>Puntos: {{ puntos }}</p>
    </footer>
  </div>
  
